/* ========== GENERAL ========== */
body {
  font-family: 'PT Sans', sans-serif;
}

.rounded {
  margin-top: -20px;
}

.aa {
  margin-left: 15px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* ========== ICON HOVER ========== */
.search:hover,
.contct:hover,
.hrt:hover {
  color: red;
}

/* ========== NAV ICON CONTAINER ========== */
.mm {
  display: flex;
  align-items: center;
}

/* ========== BANNER ========== */
.img1 {
  position: relative;
}

.cption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: 'Langar', cursive;
  text-shadow: 1px 1px 3px #000;
}

.cpt1 {
  font-size: 28px;
}

/* ========== FEATURES SECTION ========== */
.kj {
  background-color: #59b10d;
  margin-top: -150px;
}

.leaf {
  width: 200px;
  height: 80px;
  background: url("images/leaf.png") center no-repeat;
  background-size: contain;
  margin: 20px auto;
}

.prg {
  color: white;
  text-align: justify;
}

/* ========== BUTTONS ========== */
.bgpnk,
.bttn2 {
  background-color: #9f245a;
  color: white;
}

/* ========== WHY AYURVEDA ========== */
.bgpink {
  background-color: #9f245a;
}

.pdd {
  background-color: #8fb479;
  padding: 40px 0;
}

.dd3 {
  font-family: 'Righteous', cursive;
  color: #9f245a;
}

/* ========== TREATMENTS ========== */
.trmnt {
  font-family: 'Righteous', cursive;
}

.shd {
  font-size: 16px;
  padding: 15px 0;
}

/* Hover images */
.imgshiro:hover,
.sknimg:hover,
.panchimg:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* ========== FOOTER ========== */
.ftr {
  background: url("images/footerimg.png") no-repeat center;
  background-size: cover;
  padding: 60px 0;
}

.flw {
  font-size: 16px;
}

.rr {
  padding-right: 5px;
}

.pft1:hover,
.pft2:hover,
.pft3:hover,
.pft4:hover {
  color: red;
}

/* ========== COPYRIGHT ========== */
.cpbx {
  background-color: rgba(50, 117, 26, 0.4);
  padding: 10px 0;
}

.cprt {
  font-size: 14px;
}

