body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}

/* REMOVE BULLETS FORCE */
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon-box i {
  color: white;
  margin-left: 15px;
  cursor: pointer;
}

/* BANNER */
.banner {
  position: relative;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: 'Langar', cursive;
  text-shadow: 2px 2px 5px #000;
}

/* FEATURES */
.features {
  background: #59b10d;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.btn-custom {
  background: #9f245a;
  color: white;
  padding: 10px 25px;
  border: none;
}

/* WHY AYURVEDA */
.why-ayurveda {
  background: #8fb479;
  padding: 60px 20px;
  text-align: center;
}

/* TREATMENTS */
.treatments {
  padding: 60px 20px;
  text-align: center;
}

.treatments img {
  margin-bottom: 15px;
  cursor: pointer;
}

.treatments img:hover {
  opacity: 0.8;
}

/* YOGA */
.yoga {
  padding: 60px 20px;
  text-align: center;
}

/* FOOTER */
.footer {
  background: url("images/footerimg.png") no-repeat center;
  background-size: cover;
  padding: 60px 20px;
  color: black;
}

.footer i {
  margin-right: 10px;
  cursor: pointer;
}

.footer i:hover {
  color: red;
}

/* COPYRIGHT */
.copyright {
  background: rgba(50,117,26,0.4);
  text-align: center;
  padding: 10px;
}
